h1, h2, h3, h4, h5, h6, p, text {
    color: rgb(220, 220, 220);
}

*, *::before, *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    /*font-family: Arial, Helvetica Neue, Helvetica, sans-serif;*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.app {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.exportContainer {
    width: 70%;
    margin-left: 15%;
    padding-top: 20px;
    padding-bottom: 50px;
}

table, tr, th, td {
    color: rgb(220, 220, 220);
}

table.journal-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.journal-table th {
    background-color: orange;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
}

.journal-table td {
    padding: 12px 15px;
}

.journal-table tr {
    border-bottom: 1px solid black;
}

.journal-table tr:nth-of-type(even) {
    background-color: #202020;
}

.journal-table tr:last-of-type {
    border-bottom: 2px solid orange;
}

